
<div class="home">
  <%= image_tag 'logo.png', class: "logo-home" %>
  <br>
  <h1>Los Sentimos, Nuestra Pagina se encuentra en mantenimiento</h1>
  <br>
  <br>
  <h2>Para Ventas marque: </h2>
    <h3> 3370000</h3>
  <br>
  <h2>Para Servicio al Cliente:</h3>
    <h3>servicioalcliente@centroacerosdelcaribe.com</h3>
  <br>
  <h2>Para Envio de Pagos y Documentos:</h3>
    <h3>servicioalcliente@centroacerosdelcaribe.com</h3>
</div>

<div class="label">

</div>
<div class="footer">
  <h4>Nuestras Oficinas</h4>
  <h5>Calle 31 no. 28-62</h5>
  <br>
  <h4>Servicio Al Cliente</h4>
  <h6>servicioalcliente@centroacerosdelcaribe.com</h6>
</div>
